#avatars { position: absolute; bottom: 1em; right: 1em; }
#avatars dt { display: none;}
#avatars dl { display: inline; }
#avatars dd { display: block; float: left; 
              height: 40px; width: 40px; 
              padding: 0; 
              opacity: .65;
              margin: 0 0 0 7px; }
              
#avatars #u-1 dd { background: black url('../img/avatars.jpg') no-repeat -7px -7px; }
#avatars #u-2 dd { background: black url('../img/avatars.jpg') no-repeat -53px -7px; }
#avatars #u-3 dd { background: black url('../img/avatars.jpg') no-repeat -7px -50px; }
#avatars #u-4 dd { background: black url('../img/avatars.jpg') no-repeat -7px -95px; }
#avatars #u-5 dd { background: black url('../img/avatars.jpg') no-repeat -95px -7px; }
#avatars #u-6 dd { background: black url('../img/avatars.jpg') no-repeat -180px -7px; }